<nav class="nav" role="navigation">
  <div>
    <%= link_to "Home", root_url, class: "nav-link" %>
    <%= link_to "Things", things_path, class: "nav-link" + nav_active_class(:things) %>
  </div>
  <div></div>
</nav>
