<%= link_to document, class: "link-reset" do %>
<div class="panel">
  <% unless document.name.blank? %>
  <div class="panel-header">
    <p><strong><%= document.name %></strong></p>
  </div>
  <% end %>
  <div class="panel-body">
    <p class="m0 text-muted"><%= document.content_html.to_s.truncate(140).html_safe %></p>
  </div>
</div>
<% end %>
