<% activate_nav!(:docs) %>

<h1>Documents</h1>

<%= render partial: "document", collection: @documents, cache: true %>

<%= link_to new_document_path, class: "btn-paper" do %>
  <%= inline_svg("add.svg") %>
<% end %>
