.nav {
  @extend .flex-between;
  @extend .flex;
  background-color: $brand-primary;
  margin-bottom: 20px;
  padding: 16px 10px;
}

.nav-side {
  display: inline-block;
}

.nav-link {
  color: #fff;
  font-size: $size-body;
  margin: 0 8px;

  &:hover {
    text-decoration: none;
  }

  &.active {
    font-weight: 700;
  }
}

@media (max-width: $screen-phone) {
  .nav {
    display: block;
  }

  .nav-side:first-child {
    margin-bottom: 10px;
  }
}

@media print {
  .nav {
    display: none;
  }
}
