// Colors

$grey-lighter:           #f5f5f5;
$grey-light:             #d8d8d8;
$grey:                   #78909C;
$black:                  #263238;

$red:                    #FF3D00;
$yellow:                 #FFEA00;
$green:                  #00E676;
$blue:                   #2979FF;

$brand-primary:          $blue;

$border:                 1px solid $grey-light;
$gradient-darken:        linear-gradient(transparent, rgba(0, 0, 0, .04));
$elegance-transition:    .28s cubic-bezier(.4, 0, .2, 1);

// Typographic Manifestation

$font-base:              "Source Code Pro", "Helvetica Neue", Helvetica, sans-serif;

$size-h1:                2rem;
$size-h2:                1.5rem;
$size-h3:                1.25rem;
$size-h4:                1rem;
$size-h5:                .875rem;
$size-h6:                .5rem;

$size-body:              $size-h3;

$line-height:            1.6;
$spacing:                .03em;


// Padding

$padding-xs:             .25rem;
$padding-small:          .5rem;
$padding-base:           1rem;
$padding-large:          2rem;

$radius:                 6px;


// Media queries breakpoints

$screen-phone:           480px;
$screen-tablet:          768px;
$screen-desktop:         1225px;
